a.mxp {
	color: inherit;
	font-weight: bold;
	border-bottom: 1px dashed;
	cursor: pointer;
}
a.mxp:hover {
	text-decoration: none;
	border-bottom: 1px solid;
}

a.mxp-external {
	padding-right: 13px;
	background: url(/media/images/external.png) center right no-repeat;
}

img.mxp-image-right {
	float: right;
}
img.mxp-image-left {
	float: left;
}
a.mxp-internal img { border: none; }

h1.mxp,h2.mxp,h3.mxp,h4.mxp,h5.mxp,h6.mxp {
	margin: 0;
}
hr.mxp { margin: 0; }

ul.mxp-send-menu {
	position: absolute;
	z-index: 9999;
	
	opacity: 0.85;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #000;
	color: #c0c0c0;
	border:1px solid #fff;
}

ul.mxp-send-menu a {
	display: block;
	padding: 5px 5px;
	border: none;
}

ul.mxp-send-menu a:hover,ul.mxp-send-menu a:focus {
	background: #222;
	color: #fff;
	border: none;
	text-decoration: none;
}